[submodule "packages/backend/lib/forge-std"]
	path = packages/backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/backend/lib/aave-v3-core"]
	path = packages/backend/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "packages/backend/lib/gho-core"]
	path = packages/backend/lib/gho-core
	url = https://github.com/aave/gho-core
[submodule "packages/backend/lib/openzeppelin-contracts"]
	path = packages/backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
